<ul class="nav nav-pills nav-stacked" >
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Setting Menu</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Menu Admin</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Page</a>
  </li>
</ul>